.slick-prev:before, 
.slick-next:before {
    color: #000;
    font-size: 40px;
}

.slick-prev:hover:before, 
.slick-next:hover:before {
    color: #000;
    font-size: 40px;
}

.slick-prev {
    left: 6px;
    z-index: 10;
}
.slick-next {
    right: 26px;
}
.slick-slider {
    margin:0 -15px;
}
.slick-slide {
    padding:10px;
}
